.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); /* dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* ensures it appears on top */
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.popup h2 {
  color: black;
}

.popup p {
  color: black;
}